* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth; 
}

body {
    line-height: 1.6;
    overflow-x: hidden; 
}

/* Contenedor */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Encabezado */
.navbar {
    background-color: #ff5d8f; 
    padding: 20px 0;
}

.navbar-brand, .nav-link {
    color: white !important; 
}

.navbar-nav .nav-link {
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

/* Efecto de hover para los enlaces de la barra de navegación */
.navbar-nav .nav-link:hover {
    color: #ddd !important; 
}

/* Efecto de subrayado al pasar el cursor */
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
}


/* Animaciones de entrada */
.fade-in-up {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s forwards; 
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about, .valores, .principios, .proposals, .objetivos, .gallery {
    animation: fadeInUp 1s ease forwards;
}

/* Sección Nosotros */
.about {
    margin-top: 50px;
    padding: 40px 0;
    background-color: #fadde1; 
    text-align: left;
}

/* Sección Propuestas */
.proposals {
    padding: 40px 0;
    background-color: #ffc4d6; 
    text-align: left;
}

/* Sección Valores */
.valores {
    padding: 40px 0;
    background-color: #ffc4d6; 
}

/* Sección Principios */
.principios {
    padding: 40px 0;
    background-color: #fadde1; 
    text-align: left;
}

/* Sección Objetivos */
.objetivos {
    padding: 40px 0;
    background-color: #fadde1; 
}

/* Sección Galería */
.gallery-item {
    overflow: hidden; 
    border-radius: 5px;
    width: 350px; 
    height: 300px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: transform 0.3s ease;
}

.gallery{
    background-color: #ffc4d6; 
    padding: 40px 0;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.gallery-item img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    display: block; /
}

.gallery-item:hover img {
    transform: scale(1.05); 
}

/* Pie de Página */
.footer {
    background-color: #ff5d8f;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease; 
}

.footer .social-media a:hover {
    color: #ffc4d6; 
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }
}
